
  <h2 class="ui centered header">Change your password</h2><br/>
  <div class="ui centered grid">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {:class => "ui form", method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      
      <%= f.label :password, "New password" %><br/>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
      <div class="ui input"><br />  
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div><br/>
        
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <div class="ui input"><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %><br />
      </div><br />

      <div class="actions"><br />
        <%= f.submit "Change my password", class: "ui button" %><br />
      </div><br />
    <% end %>
    </div>
  </div>
