<style>
.column{
  background-color:transparent;
}
</style>
<h2 class="ui centered header">Forgot your password?</h2><br/>
<div class="ui centered grid">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {:class => "ui form", method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <%= f.label :email %><br/>
  <div class="ui input">  
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions"><br/>  
    <%= f.submit "Send me reset password instructions", class: "ui button" %>
  </div>
<% end %>

</div>