@import "semantic-ui"; 

.column{
	background-color: #bfbfbf;
	border-radius: 15px;
	margin-top:15px;
	max-width: 500px;
}

.ui.inverted.menu{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}

body{
	margin-top: 0;
	// background-image: url(bg-001.jpg);
	background-color: rgb(240, 240, 240);
}

.logo{
	background-image: url(logo.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border-radius: 13%;
	background-size:cover;
	height: 40px;
	width: 40px;
}

.cont{
	margin: 1%;
	padding: 1%;
	border: solid;
	border-color: rgb(182, 219, 255);
	border-width: 2px;
}

.comm{
	background-color: rgba(182, 219, 255, 0.265);
	border-radius: 3%;
}

.flx{
	display: flex;
}

.mt{
	margin-top: 1%;
	margin-bottom: 2%;
}

.lst{
	padding-bottom: 2%;
}