<div class="ui container">
  <h1>Listing users</h1>
  
  <table class="ui celled table"> 
    <thead>
    <tr><th></th>
    <th>Name</th>
    <th>Surname</th>
    <th>Rate</th>
    <th></th>
    </tr></thead>
    
    <tbody>
    <% @users.each do |user| %>
      <tr>
        
        <% if user.avatar.attached? %>
         <td data-label="image"><img src="<%=(url_for(user.avatar))%>" class="ui circular tiny centered image"></td>
        <% else %>
          <td></td>
        <% end %>

        <td data-label="Name"><%= user.name %></td>
        <td data-label="Surname"><%= user.surname %></td>
        <td data-label="Rate"><%= user.voto %></td>
        <td>
        <%= link_to 'Profile', user_path(user), class: "ui button" %> 
        <% if current_user == user %> 
          <%= link_to 'Edit ', edit_registration_path(user), class: "ui button"%>
        <% end %>
        <% if can? :destroy, Users %>
          <% if user.role != "admin" %>
            <%= link_to "Promote admin", promote_path(:user => user), method: :post ,data: { confirm: "Are you sure?"}, class: "ui button" %>
            <%= link_to "Remove account", user_path(user), data: { confirm: "Are you sure?" }, method: :delete,name: "Cancel my account", id: "Cancel my account", class: "ui button" %>
          <%end%>
        <% end %>
      </tr>   
    <% end %>
    </tbody>
  </table>
</div>