<style>
.column{
  background-color:transparent;
}

.circular.ui.image{
  position:absolute;
  left:0;
  right:0;
}

.ui.items{
  margin-top:30px;
  background-color: #e7e6ed;
  border-radius:30px;
  padding-left:15px;
  max-width:800px;
}
</style>
<div class="ui container">
  <div class="ui items"><br/>
    <div class="item">
      <div class="circular ui small image">
        <% if @user.avatar.attached? %>
          <img src="<%=(url_for(@user.avatar))%>">
        <% else%>
          <img src="/assets/logo.jpg">
        <% end%>  
      </div>
      <div class="content">
        <a class="header"><%=@user.name %> <%= @user.surname %>'s profile</a>
        <div class="meta">
          <span>Skills</span>
        </div>
        <div class="description">
          <p><%=@user.skills%></p>
        </div>
        <div class="extra">
          <i class="map marker alternate icon"></i><%=@user.luogonascita%>
        </div>
      </div>
    </div>
    <br/>
  </div>   
    
  <% if !@user.projects.empty?%>
    <% if current_page?(user_path(current_user)) %>
    <h2>My Projects</h2>
    <% else %>
    <h2><%= @user.name + " " +@user.surname + "'s Projects"%></h2>
    <% end %>
    <div class="ui grid"> 
      <% @user.projects.each do |project| %>
        <div class="four wide column" style="min-width: 250px">
          <div class="ui card">
            <div class="ui small centered image">
              <% if project.avatar.attached? %>
                <img src="<%=url_for(project.avatar)%>">
              <% else %>
                <img src="/assets/logo.jpg">
              <% end %>
            </div>
            <div class="content">
              <div class="header"><%= project.name %></div>
            </div>
            <div class="content">
             <% @user = User.find(project.user_id) %> 
              <div class="ui sub header"><b>Created by:  </b><%= @user.name + " " + @user.surname %></div> 
              <h5></h5>
                <%= project.description%>
            </div>
            <div class = "extra content">
              Created in: <%=project.created_at.to_s[0,10] %>
              
            </div>
            <div class="extra content">
              <% if Appartiene.where("project_id = ? and user_id = ?",project.id,current_user.id).first() != nil %>
                <%= link_to 'Chat', project_chat_path(project_id: project), class: "ui tiny button" %>
              <% else %>
                <%= link_to 'Join Project', new_user_appartiene_path(user_id: current_user.id ,project_id:  project.id),name: "Join project" + project.id.to_s ,id: "Join project" + project.id.to_s  ,data: {confirm: 'Do you really want to join?'}, class: "ui tiny button" %>
              <% end %> 
              <%= link_to  "View Project", project_path(project),id: "View Project"+project.id.to_s,name: "View Project"+project.id.to_s ,method: :get,class: "ui tiny button" %>       
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    
    
    <% if current_page?(user_path(current_user)) %>
      <div class="ui horizontal divider"><h2 class="ui centered header">Create a project: </h2></div>
      <%= render 'projects/form'%>
    <% end %>

    
    <div class = "lst"><br/><br/>
      <%= link_to "Back", :back, class: "ui teal button" %>
      <% if current_page?(user_path(current_user)) %>
      <%= link_to 'Edit User', edit_registration_path(current_user), class: "ui button" %>
      <% end %>
    </div>
  </div>