
<div class="ui centered grid">
  <br/><%= form_with(model: [ current_user, current_user.projects.build ], local: true, :html => {:class => "ui form"}) do |form| %>
    
    <%= form.label :project_logo%><br/>
    <div class="ui input">
      <%= form.file_field :avatar, accept: 'image/png,image/jpeg'%>
    </div><br/>

    <%= form.label :name %><br/>
      <div class="ui input">
      <%= form.text_field :name, autocomplete: "off" %>
    </div><br/>

    <%= form.label :description %><br/>
    <div class="ui input">
      <%= form.text_area :description, style: "height: 5%; width: 400px" %>
    </div><br/>
    
    <%= form.label :project_requirement %><br/>
    <div class="ui input">
      <%= form.text_area :requisitipartecipazione, style: "height: 5%; width: 400px" %>
    </div><br/> 
    
    <%= form.label :external_link %>   <br/> 
    <div class="ui labeled input">
      <div class="ui label">
      https://
      </div>
      <%= form.text_field :linkesterno, style: "width: 330px" %>
    </div><br/>
     
    <div><br/>
      <%= form.submit "Create Project", class: "ui button" %>
    </div>
  <% end %>
</div>