<div class = "cont">
  <p>
    <strong>Project:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>
  <p>
    <strong>Link al progetto:</strong>
    <a href = "<%= "https://www."+project.linkesterno%>" target = "new"> <%= project.linkesterno%></a>
  </p>
    <%= link_to 'View Project', project_path(project), class: "btn btn-primary" %>
  </p>
</div>