<div class="ui container">
  <h1>Edit Project</h1>
  <div class = "ui grid">
  <%@prg = Project.friendly.find(params[:project])%>
  <%@uid = params[:user_id]%>
    <%= form_for(@prg, url: project_path(id: @prg.id), :html => {:class => "ui form", style: "min-width: 70%"}) do |form| %>
      <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
      </div><br/>
      <div>
        <%= form.label :external_link %><br>
        <div class="ui labeled input">
          <span class="ui label" >
          <div>https://</div>
          </span>
          <%= form.text_field :linkesterno %>
        </div>
      </div><br/>
      <div>
        <%= form.label :project_requirement %><br>
        <%= form.text_area :requisitipartecipazione %>
      </div><br/>
      <div>
        <%= form.label :avatar %>
        <%= form.file_field :avatar, accept: 'image/png,image/jpeg' %>
      </div><br/>
      <div>
        <div class="mt"><%= link_to 'Back', project_path(@prg), class: "ui teal button" %><%= form.submit "Edit Project", class: "ui blue button" %></div>
      </div>
    <% end %>
  </div>
</div>