<style>
.column{
  background-color:transparent;
}
</style>
<div class="ui container">

  <div class="ui header"><h1>Listing Projects</h1><br/></div>

  <div class="ui grid"> 
    <% if Project.all.size != 0%>   
      <% Project.all.each do |project| %>
        <div class="four wide column" style="min-width: 250px">
          <div class="ui card">
            <div class="ui small centered image">
              <% if project.avatar.attached? %>
                <img src="<%=url_for(project.avatar)%>">
              <% else %>
                <img src="/assets/logo.jpg">
              <% end %>
            </div>
            <div class="content">
              <div class="header">  <%= project.name %></div>
            </div>
            <div class="content">
              <% @user = User.find(project.user_id) %>             
              <div class="ui sub header"><b>Created by:  </b><%= @user.name + " " + @user.surname %></div>
              <h5></h5>
                <%= project.description%>
            </div>
            <div class = "extra content">
              Created in: <%=project.created_at.to_s[0,10] %>
              
            </div>
            <div class="extra content">
              <% if Appartiene.where("project_id = ? and user_id = ?",project.id,current_user.id).first() != nil %>
                <%= link_to 'Chat', project_chat_path(project_id: project, id: project.id), class: "ui tiny button" %>
              <% else %>
                <%= link_to 'Join Project', new_user_appartiene_path(user_id: current_user.id ,project_id:  project.id),name: "Join project" + project.id.to_s ,id: "Join project" + project.id.to_s  ,data: {confirm: 'Do you really want to join?'}, class: "ui tiny button" %>
              <% end %> 
              <%= link_to  "View Project", project_path(project),id: "View Project"+project.id.to_s,name: "View Project"+project.id.to_s ,method: :get,class: "ui tiny button" %>       
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class=content><br/>No project available<br/></div>
    <% end %>
  </div>
</div>