<style>
.comments{
  max-width:100px
}
</style>
<div class="ui container">
  <% project=Project.friendly.find(params[:id]) %>
  <div class="container">
    <div class="ui items">
      <div class="item">
        <div class="image">
          <% if project.avatar.attached? %>
            <img src="<%=url_for(project.avatar)%>" width="100" heigth="100">
            <% else %>
            <img src="/assets/logo.jpg" width="100" heigth="100">
          <% end %>
        </div>
        <div class="content">
          <a class="header"><%=project.name%></a>
          <div class="meta">
            <span>Description</span>
          </div>
          <div class="description">
            <p><%=project.description%></p>
          </div>
          <div class="meta">
            <span>External link:</span>
          </div>
          <div class="description">
            <% if project.linkesterno.to_s != "Non presente"%>
              <a href = "<%="https://www."+project.linkesterno%>" target = "new"><%= project.linkesterno%></a>
            <%end%>
          </div>
        </div>
      </div>
    </div>

      <%if current_user.id != project.user_id && Appartiene.where("project_id = ? and user_id = ?",project.id,current_user.id).first() != nil%>
          <td><%= link_to 'Leave Project', user_appartiene_path(user_id: current_user.id, project_id: project.id), method: :delete, data: {confirm: 'are you sure about that?!'}, class: "ui button" %></td>
      <%end%>

      <% if Appartiene.where("project_id = ? and user_id = ?",project.id,current_user.id).first() != nil %>
          <%= link_to 'Chat', project_chat_path(project), class: "ui button" %>

      <% else %>
          <%= link_to 'Join Project', new_user_appartiene_path(user_id: current_user.id ,project_id:  project.id), data: {confirm: 'are you sure about that?!'}, class: "ui button" %>
      <% end %>
      
      <% if current_user.id == project.user_id %>
        <td><%= link_to 'Edit Project', edit_project_path(project: project), class: "ui button" %></td>
        <td><%= link_to 'Destroy Project', project_path(user_id: project.user_id, project: project,id: project.id), method: :delete,id: 'Destroy Project', name: 'Destroy Project' ,data: {confirm: 'are you sure about that?!'}, class: "ui secondary button" %></td>
      <%end%>  
      <br/>
      <br/>

      <strong>Membri del progetto:</strong>
      <%  
      @nomi = project.listUser(project.id);
      @size =  @nomi.size;
      @listUsers = Array.new
      while (@size>0)
        @size = @size - 1;
        @listUsers.push(project.stampaUtenti(@nomi[@size]));
      end
      %>
      <table>
      <td> <% @listUsers.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.surname %></td>
          <td><%= user.voto %></td>
          <% if current_user == project.user_id%>
            <td><%= link_to 'Project Manage', user_path(user), class: "ui button" %></td>      
            <td><%= link_to 'Edit ', edit_registration_path(user), class: "ui button"%></td>
          <% else%>
            <% if current_user != user%>
              <td><%= link_to 'Like', vote_path(:user=>user,:voto=>1, :id=>project.id), method: :post, class: "ui button"  %>
              <%= link_to 'Dislike', vote_path(:user=>user,:voto=>-1, :id=>project.id), method: :post, class: "ui button"  %></td>
            <% end %>
            <td><%= link_to 'View Profile', user_path(user), class: "ui button" %></td>
          <% end %>
          </tr>
        </tr>   
      <% end %></td>
      </table>

        <div class="ui comments">
          <h3 class="ui dividing header">Comments</h3>
            <%comments = project.parsingComments(project)
              comments.each do |comment|
              if(comment.length>1) 
                column = comment.index(':')
                message = comment[column+1..].split(";;")%>
                <div class="ui comment">
                  <div class="content">
                    <b><%=comment[0,column]%></b>
                    <div class="metadata">
                      <span class="date"><%=message.second[0..-4]%></span>
                    </div>
                    <div class="text">
                        <%=  message.first%>
                    </div>
                  </div>
                
              <%end%>
              </div>
            <%end%>
            <%= form_for(project, url: commenta_path(project.id, :message_new), :html => {:class=>"ui reply form"}) do |s| %>
            <%= s.text_field  :message_new, autocomplete: "off" %>
            <br/>
              <div>
              <br/>       
                <div class="ui input">
                  <%= button_tag type: 'submit', class: "ui blue labeled submit icon button" do %>
                      <i class="icon edit" ></i>Post comment
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    <br/>
    <div class="lst"><%= link_to "Back", projects_path(), class: "ui teal button" %></div>
    
  </div>
</div>