
<div class="ui comments" id = "messaggi">
  <h2 class="ui dividing header" id="chat">Chat</h2>
  <% msgs = @chat.parsingChat(@chat)
    msgs.each do |msg|
      if(msg.length>1)
        column = msg.index(':')
        message = msg[column+1..].split(";;")%>
        <div class="ui comment">
          <div class="content">
            <b><%=msg[0,column]%></b>
            <div class="metadata">
              <span class="date"><%=message.second[0..-4]%></span>
            </div>
            <div class="text">
                <%=  message.first%>
            </div>
          </div>
        
      <%end%>
      </div>
    <%end%>
  </div>
