<%= form_for(@chat, url: project_chat_path(@chat.project_id, @chat.id), :html => {:class => "ui reply form flx", style: "width: 80%;"}) do |s| %>
	<%= s.text_field :message_new,autocomplete: "off", minlength: 1, id: "txt" %>
	<button type="submit" class="ui button icon blue" style="margin-left: 5px;">
		<span style="margin-right: 2px;">Send</span><span><i class="icon paper plane"></i></span>
	</button>
<% end %>