<<body onload = "updateDiv();">
<div class="ui container" >
  <% project=Project.friendly.find(@chat.project_id) %>
  

  <div class="ui items">
    
    <div class="item">
      <div class= "image" style="width: 80px;">
        <img src="/assets/logo.jpg">
      </div>
      <div class="content">
        <p>Project:</p>
        <p class="header"><%=project.name%>
        <%# <p style="margin-top: 3px;">Chat-id: <%=@chat.id></p> %>
      </div>
    </div>
  </div>

      <%= render "chats/display"%>
      
      <%= render "chats/send" %>

  <div class="mt"><%= link_to 'Back', project_path(project), class: "ui teal button" %></div>
</div>
</body>
