<div class="ui container">
  <h1 class="ui centered header">ProjectAdvisor</h1>

  <div class="ui divided items">
  <div class="item">
    <div class="content">
      <a class="header">Progetto Labassi</a>
      <div class="description">
        <p>
          ProjectAdVisor si pone come obiettivo unico  lo sviluppo di una piattaforma intelligene orientata alla gestione di progetti e o gruppi di lavoro. Il sito permette dunque ad utenti registarti di: creare progetti, navigare tra di essi ottenendone informazioni e di comunicare con il proprio team. Inoltre vi è la possibilità di unirsi ad un progetto già esistente per contribuirne allo sviluppo ed averne accesso alla chat privata(interna ed unica per ogni gruppo di progetto). Ogni progetto ha : un nome,una sua descrizione, un link ad una cartella condivisa come google drive o github ed il link alla chat interna . Ogni utente ha: le clasicche informazioni del caso, un punteggio che ne indica la  valutazione assegnatagli da membri di progetti passi e presenti e dei commenti da utenti terzi.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a class="header">Chi siamo</a>
      <div class="description">
        <p> ProjectAdVisor nasce dall &rsquo unione di 3 menti briallanti, 3 studenti dell &rsquo univerità La Sapienza di Roma.     </p>
      </div>
    </div>
  </div>
</div>

</div>
