<div class="ui container">
  <h2>Edit <%= resource_name.to_s.humanize %> </h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "ui form"}) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <script>
    alert(resource_name);
    </script>
    <div class="ui input">
      <% if current_user.avatar.attached? %><img src="<%=(url_for(@user.avatar))%>" width="200" heigth="200"><% end %>
      <%= f.file_field :avatar, accept: 'image/png,image/jpeg' %>
    </div><br/>
    <p>
      <div class="ui input">
        <div>
          <%= f.label :name %><br />
          <%= f.text_field :name,autofocus: true, autocomplete: "name"%>
        </div>
      </div>
    </p>
    <p>
      <div class="ui input">
        <div>
          <%= f.label :surname %><br />
          <%= f.text_field :surname,autofocus: true, autocomplete: "surname"%>
        </div>
      </div>
    </p>
    <p>
      <div class="ui input">
        <div>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </p>
    <% if user_signed_in? && current_user.provider!='facebook' %>    
    <p>
      <div class="ui input">
        <div>
          <%= f.label :current_password %> <i>(If changing email or password)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", style: "min-width: 280px" %>
        </div>
      </div><br/>
    </p>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    <p>
      <div class="ui input">
        <div>
          <%= f.label :new_password %> <i>(Blank for skipping the change)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", style: "min-width: 280px" %>
        </div>
      </div>
    </p>
    <p>
      <div class="ui input">
        <div>
          <%= f.label :new_password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "min-width: 280px" %>
        </div>
      </div><br/>
    </p>
    <% end %>
    <p>
      <div class="ui input">
        <div>
          <%= f.label :data_di_nascita %><br />
          <%= f.date_field :datanascita, autofocus: true, autocomplete: "datanascita" %>
        </div>
      </div>
    </p>
    <p>
      <div class="ui input">
        <div>
          <%= f.label :luogo_di_nascita %><br />
          <%= f.text_field :luogonascita ,autofocus: true, autocomplete: "luogo_nascita"%>
        </div>
      </div>
    </p>
    <p>
      <div class="ui input">
        <div>
            <%= f.label :skills %><br />
            <%= f.text_area :skills,autofocus: true, autocomplete: "skills", style: "min-width: 280px; max-height: 100px"%>
        </div>
      </div>
    </p>

    <div class="ui input">
      <div>
      <%= f.label :sesso %><br />
      <%= f.radio_button(:sesso, "male") %>
      <%= label_tag(:sesso_male, "Male") %><br />
      <%= f.radio_button(:sesso, "female") %>
      <%= label_tag(:sesso_female, "Female") %><br />
      <%= f.radio_button(:sesso, "other") %>
      <%= label_tag(:sesso_other, "Other") %>
      </div>
    </div>
    
    

    <div class="actions"><br/>
      <%= f.submit "Update", class: "ui blue button" %>
    </div>
  <% end %>
  <br/>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,name: "Cancel my account", id: "Cancel my account", class: "ui secondary button" %></p>

  <div class="lst"><%= link_to "Back", :back, class: "ui teal button" %></div>
</div>