<style>
.column{
  max-width:670px;
}
.avatarUpload{
  min-width:250px;
}
.input{
  max-width:170px;
  padding-bottom:1px;
  padding-left:5px;
  padding-right:5px;
  padding-top:1px;
}
.select{
  max-width:170px;
}
</style>

<div class="ui center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <img src="/assets/logo.jpg" class="image">
      <div class="content">
        Sign up a new account
      </div>
    </h2>
  

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:class => "ui form"}) do |f| %>
  
  <div class="ui horizontal segment">
    <%= render "users/shared/error_messages", resource: resource %>
      <div class="ui segment">
        <div class="avatarUpload ui input">
          <div>
            <%= f.label :avatar %>
            <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg' %>
          </div>
        </div><br/>

        <div class="ui input">   
          <div>
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"Name" %>
          </div>
        </div>

        <div class="ui input">
          <div>         
            <%= f.label :surname %>
            <%= f.text_field :surname, autofocus: true, autocomplete: "surname", placeholder:"Surname" %>
          </div>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui grid">
          <div class="ui left floated">
            <div class="ui input">
              <div>
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Enter your email" %>
              </div>
            </div> 
          </div>

          <div class="ui center floated">
            <div class="ui input">
              <div>
                <%= f.label :password%>
                <%= f.password_field :password, autocomplete: "new-password", placeholder:"Enter a password..." %>
              </div>
            </div>
          </div>
          
          <div class="ui right floated ">
            <div class="ui input">
                <div>      
                  <%= f.label :confirm_password%><br/> 
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirm your password..."%>
                </div>
              </div>      
            </div>

          <div class="ui left floated">
            <div class="ui input">
              <div>
                <%= f.label :skills %><br/>
                <%= f.text_field :skills,autofocus: true, autocomplete: "skills", placeholder: "Enter your skills...", width:"200px"%>
              </div>
            </div>
          </div>

          <div class="ui center floated">
            <div class="ui input">
              <div>              
                <%= f.label :birthplace%><br/>
                <%= f.text_field :luogonascita ,autofocus: true, autocomplete: "luogo nascita", placeholder:"Enter your birthplace..."%>
              </div>
            </div>
          </div>

          <div class="ui right floated">   
            <div class="date">
              <%= f.label :data_di_nascita%><br/>
                <%= f.date_field :datanascita, autofocus: true, autocomplete: "date",class:"date" %>
              </div>
            </div>
          </div>
          <br/>

          <div class="ui right floated">
            <div class="ui input"> 
              <div>
              <b><%= f.label :sex%></b><br/>
              <%= f.radio_button(:sesso, "male") %>
              <%= label_tag(:sesso_male, "Male") %>
              <%= f.radio_button(:sesso, "female") %>
              <%= label_tag(:sesso_female, "Female") %><br/>
              <%= f.radio_button(:sesso, "other") %>
              <%= label_tag(:sesso_other, "Other") %>
              </div>
            </div>
          </div>
        </div>
          

      <div class="actions">
        <%= button_tag type: 'submit', class: "ui button" do %>
            <i class="pen square icon" ></i>Sign up
        <% end %>
      </div>
      <br/>
      <% end %>

      <%= render "users/shared/links" %>

        
