<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      @import "semantic-ui"; 

      .column{
        background-color: #bfbfbf;
        border-radius: 15px;
        margin-top:15px;
        max-width: 500px;
      }

      .ui.inverted.menu{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
      }

      body{
        margin-top: 0;
        // background-image: url(bg-001.jpg);
        background-color: rgb(240, 240, 240);
      }

      .logo{
        background-image: url(logo.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        border-radius: 13%;
        background-size:cover;
        height: 40px;
        width: 40px;
      }

      .cont{
        margin: 1%;
        padding: 1%;
        border: solid;
        border-color: rgb(182, 219, 255);
        border-width: 2px;
      }
    </style>
  </head>

  <body>
  <img src="/assets/logo.jpg"><br/>
    <%= yield %>
  </body>
</html>
