

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <img src="/assets/logo.jpg" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "ui large form"})  do |f|%>
    
    <div class="ui stacked segment">
      <div class="field"> 
        <div class="ui left icon input" >  
          <i class="user icon"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Enter your email..."%>
        </div>
      </div>
      
        <div class="field">
          <div class="ui left icon input" >  
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "current-password", placeholder:"Enter your password..."%>
          </div>
        </div>

      <%if devise_mapping.rememberable? %>
      <div class="field">
        <div class="ui checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
      <% end %>
      <div class="actions">
            <%= f.submit "Log in" , class: "ui fluid large submit button"%> 
      </div>
    </div>

    
    
    <div class="actions">
      <div class="ui message">
      <%= render "users/shared/links" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
